<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

<context:component-scan base-package="com.capg.mvc"></context:component-scan>


<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dmds">
<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
<property name="url" value="jdbc:oracle:thin:@DESKTOP-UVLUCQG:1521:xe"/>
<property name="username" value="SHUBHI_TRIVEDI"/>
<property name="password" value="satyam00"/>
</bean>

<bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="emf">
<property name="dataSource" ref="dmds"/>
<property name="persistenceProviderClass" value="org.hibernate.jpa.HibernatePersistenceProvider"/>
<property name="packagesToScan" value="com.capg.mvc.entities"/>
<property name="jpaPropertyMap">
<map>
	<entry key="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect"/>
	<entry key="hibernate.hbm2ddl.auto" value="update"/>
	<entry key="hibernate.show_sql" value="true"/>
</map>
</property>
</bean>

<bean class="org.springframework.orm.jpa.JpaTransactionManager" id="tm">
<property name="entityManagerFactory" ref="emf"/>
</bean>


<tx:annotation-driven transaction-manager="tm"/>
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/WEB-INF/Pages/"></property>
<property name="suffix" value=".jsp"></property>
</bean>



</beans>
